$yma-extension: (
  "auto": auto,
  "fc": fit-content,
  "full": 100%,
  "half": 50%,
  "max": max-content,
  "min": min-content,
);

$yma-height-extension: (
  "1\\/1": 100dvh,
  "1\\/2": 50dvh,
);

$yma-width-extension: (
  "1\\/1": 100dvw,
  "2\\/1": 50dvw,
);

