// base colors
$yma-color-red: #d73d3d;
$yma-color-orange: #e06814;
$yma-color-yellow: #d3a107;
$yma-color-green: #1fb155;
$yma-color-teal: #12a695;
$yma-color-cyan: #05a4bf;
$yma-color-blue: #3575dd;
$yma-color-indigo: #595cd9;
$yma-color-violet: #7d53dd;
$yma-color-pink: #d4418a;
$yma-color-silver: #bfc2c7;
$yma-color-gray: #606773;
$yma-color-lead: #3f3f4e;
$yma-color-black: black;
$yma-color-white: white;
$yma-color-transparent: transparent;

// borders
$yma-border: 1px;
$yma-border-radius: 0.25rem;

// outlines
$yma-outline-offset: 1px;
$yma-outline-width: 1px;
$yma-decoration-thickness: 1px;

// box model
$yma-height: 0.25rem;
$yma-width: 0.25rem;
$yma-padding: 0.25rem;
$yma-margin: 0.25rem;
$yma-spacing: 0.25rem;

// effects
$yma-backdrop-blur: 4px;

// filters
$yma-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// flexbox
$yma-flex-basis: 0.25rem;

// grid
$yma-gap: 0.25rem;
$yma-column-gap: 0.25rem;
$yma-row-gap: 0.25rem;

// layout
$yma-direction: 0.25;

// typography
$yma-font-size: 0.75rem;
$yma-font-weight: 500;
$yma-font-size-xs: $yma-font-size;
$yma-font-size-b: 1rem;
$yma-font-size-sm: $yma-font-size * 2;
$yma-font-size-md: $yma-font-size * 3;
$yma-font-size-lg: $yma-font-size * 4;
$yma-font-size-xl: $yma-font-size * 5;
$yma-font-size-xxl: $yma-font-size * 6;
$yma-font-size-3xl: $yma-font-size * 7;
$yma-font-size-6xl: $yma-font-size * 8;
$yma-font-size-9xl: $yma-font-size * 9;

$yma-font-charter: Charter, Cambria, serif;
$yma-font-mono: ui-monospace, Consolas, monospace;
$yma-font-system: system-ui, sans-serif;