@use "sass:math";

$yma-effect-utils: (
  "box-shadow": (
    "prefix": "bs",
    "values": (
      "none": none,
      "xs": 1px 3px 5px -3px rgb(0, 0, 0, 0.1),
      "sm": 1px 3px 5px -2px rgb(0, 0, 0, 0.1),
      "md": 1px 3px 5px -1px rgb(0, 0, 0, 0.1),
      "lg": 1px 3px 5px 1px rgb(0, 0, 0, 0.1),
      "xl": 1px 3px 5px 2px rgb(0, 0, 0, 0.1),
    ),
  ),

  "opacity": (
    "prefix": "o",
    "values": (
      "0": 0,
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
);

// base variants
@each $property, $map in $yma-effect-utils {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }

  // hover variants
  @each $k, $v in $values {
    @if ($k == "default") {
      .h\:#{$prefix}:hover {
        #{$property}: $v;
      }
    } @else {
      .h\:#{$prefix}-#{$k}:hover {
        #{$property}: $v;
      }
    }
  }

  // responsive variants
  @each $bp, $bp-value in $yma-breakpoints {
    @each $k, $v in $values {
      .#{$bp}\:#{$prefix}-#{$k} {
        @media (min-width: $bp-value) {
          #{$property}: $v;
        }
      }
    }
  }
}
