@use "sass:math";

$yma-fx-utils: (
  "backdrop-filter": (
    "prefix": "bf-b",
    "values": (
      "none": blur($yma-backdrop-blur * 0),
      "xs": blur($yma-backdrop-blur),
      "sm": blur($yma-backdrop-blur * 2),
      "md": blur($yma-backdrop-blur * 4),
      "lg": blur($yma-backdrop-blur * 8),
      "xl": blur($yma-backdrop-blur * 16),
    ),
  ),
  "box-shadow": (
    "prefix": "bs",
    "values": (
      "none": none,
      "xs": $yma-box-shadow-xs,
      "sm": $yma-box-shadow-sm,
      "md": $yma-box-shadow-md,
      "lg": $yma-box-shadow-lg,
      "xl": $yma-box-shadow-xl,
    ),
  ),

  "opacity": (
    "prefix": "o",
    "values": (
      "0": 0,
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
);

// base variants
@each $property, $map in $yma-fx-utils {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }

  // hover variants
  @each $k, $v in $values {
    @if ($k == "default") {
      .h\:#{$prefix}:hover {
        #{$property}: $v;
      }
    } @else {
      .h\:#{$prefix}-#{$k}:hover {
        #{$property}: $v;
      }
    }
  }

  // responsive variants
  @each $bp, $bp-value in $yma-breakpoints {
    @each $k, $v in $values {
      .#{$bp}\:#{$prefix}-#{$k} {
        @media (min-width: $bp-value) {
          #{$property}: $v;
        }
      }
    }
  }
}
