@use "sass:math";

$yma-table-utils: (
  "caption-side": (
    "prefix": "cs",
    "values": (
      "b": bottom,
      "t": top,
    ),
  ),

  "table-layout": (
    "prefix": "tl",
    "values": (
      "auto": auto,
      "f": fixed,
    ),
  ),
);

@each $property, $map in $yma-table-utils {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }

  // responsive variants
  @each $bp, $bp-value in $yma-breakpoints {
    @each $k, $v in $values {
      .#{$bp}\:#{$prefix}-#{$k} {
        @media (min-width: $bp-value) {
          #{$property}: $v;
        }
      }
    }
  }

  // hover variants
  @each $k, $v in $values {
    @if ($k == "default") {
      .h\:#{$prefix}:hover {
        #{$property}: $v;
      }
    } @else {
      .h\:#{$prefix}-#{$k}:hover {
        #{$property}: $v;
      }
    }
  }
}
