/* Yumma CSS - https://yummacss.vercel.app/ */
* {
    color: inherit;
    margin: 0;
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #efefef;
    margin: 1em 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    list-style: none;
}

::before,
::after {
    box-sizing: border-box;
}