@each $k, $v in $base-colors {

    // backgrounds
    .bg-#{$k} {
        background-color: $v;
    }

    .h\:bg-#{$k} {
        &:hover {
            background-color: $v;
        }
    }

    // border colors
    .bc-#{$k} {
        border-color: $v;
        border-style: solid;
        border-width: 1px;
    }

    .h\:bc-#{$k} {
        &:hover {
            border-color: $v;
            border-style: solid;
            border-width: 1px;
        }
    }

    .bc-b-#{$k} {
        border-bottom-color: $v;
        border-style: solid;
        border-width: 1px;
    }

    .h\:bc-b-#{$k} {
        &:hover {
            border-bottom-color: $v;
            border-style: solid;
            border-width: 1px;
        }
    }

    .bc-l-#{$k} {
        border-left-color: $v;
        border-style: solid;
        border-width: 1px;
    }

    .h\:bc-l-#{$k} {
        &:hover {
            border-left-color: $v;
            border-style: solid;
            border-width: 1px;
        }
    }

    .bc-r-#{$k} {
        border-right-color: $v;
        border-style: solid;
        border-width: 1px;
    }

    .h\:bc-r-#{$k} {
        &:hover {
            border-right-color: $v;
            border-style: solid;
            border-width: 1px;
        }
    }

    .bc-t-#{$k} {
        border-top-color: $v;
        border-style: solid;
        border-width: 1px;
    }

    .h\:bc-t-#{$k} {
        &:hover {
            border-top-color: $v;
            border-style: solid;
            border-width: 1px;
        }
    }

    // text color
    .t-#{$k} {
        color: $v;
    }

    .h\:t-#{$k} {
        &:hover {
            color: $v;
        }
    }

    // caret colors
    .cc-#{$k} {
        caret-color: $v;
    }

    .h\:cc-#{$k} {
        &:hover {
            caret-color: $v;
        }
    }

    .td-#{$k} {
        text-decoration-color: $v;
    }

    .h\:td-#{$k} {
        &:hover {
            text-decoration-color: $v;
        }
    }

    @if ($v !=black and $v !=white) {

        // light variations
        @for $i from 1 through 6 {
            .bg-l-#{$k}-#{$i} {
                background-color: mix(white, $v, $i * 10%);
            }

            .h\:bg-l-#{$k}-#{$i} {
                &:hover {
                    background-color: mix(white, $v, $i * 10%);
                }
            }

            .bc-l-#{$k}-#{$i} {
                border-color: mix(white, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-l-#{$k}-#{$i} {
                &:hover {
                    border-color: mix(white, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .bc-b-l-#{$k}-#{$i} {
                border-bottom-color: mix(white, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-b-l-#{$k}-#{$i} {
                &:hover {
                    border-bottom-color: mix(white, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .bc-l-l-#{$k}-#{$i} {
                border-left-color: mix(white, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-l-l-#{$k}-#{$i} {
                &:hover {
                    border-left-color: mix(white, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .bc-r-l-#{$k}-#{$i} {
                border-right-color: mix(white, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-r-l-#{$k}-#{$i} {
                &:hover {
                    border-right-color: mix(white, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .bc-t-l-#{$k}-#{$i} {
                border-top-color: mix(white, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-t-l-#{$k}-#{$i} {
                &:hover {
                    border-top-color: mix(white, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .t-l-#{$k}-#{$i} {
                color: mix(white, $v, $i * 10%);
            }

            .h\:t-l-#{$k}-#{$i} {
                &:hover {
                    color: mix(white, $v, $i * 10%);
                }
            }

            .cc-l-#{$k}-#{$i} {
                caret-color: mix(white, $v, $i * 10%);
            }

            .h\:cc-l-#{$k}-#{$i} {
                &:hover {
                    caret-color: mix(white, $v, $i * 10%);
                }
            }
        }

        // dark variations
        @for $i from 1 through 6 {
            .bg-d-#{$k}-#{$i} {
                background-color: mix(black, $v, $i * 10%);
            }

            .h\:bg-d-#{$k}-#{$i} {
                &:hover {
                    background-color: mix(black, $v, $i * 10%);
                }
            }

            .bc-d-#{$k}-#{$i} {
                border-color: mix(black, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-d-#{$k}-#{$i} {
                &:hover {
                    border-color: mix(black, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .bc-b-d-#{$k}-#{$i} {
                border-bottom-color: mix(black, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-b-d-#{$k}-#{$i} {
                &:hover {
                    border-bottom-color: mix(black, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .bc-l-d-#{$k}-#{$i} {
                border-left-color: mix(black, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-l-d-#{$k}-#{$i} {
                &:hover {
                    border-left-color: mix(black, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .bc-r-d-#{$k}-#{$i} {
                border-right-color: mix(black, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-r-d-#{$k}-#{$i} {
                &:hover {
                    border-right-color: mix(black, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .bc-t-d-#{$k}-#{$i} {
                border-top-color: mix(black, $v, $i * 10%);
                border-style: solid;
                border-width: 1px;
            }

            .h\:bc-t-d-#{$k}-#{$i} {
                &:hover {
                    border-top-color: mix(black, $v, $i * 10%);
                    border-style: solid;
                    border-width: 1px;
                }
            }

            .t-d-#{$k}-#{$i} {
                color: mix(black, $v, $i * 10%);
            }

            .h\:t-d-#{$k}-#{$i} {
                &:hover {
                    color: mix(black, $v, $i * 10%);
                }
            }

            .cc-d-#{$k}-#{$i} {
                caret-color: mix(black, $v, $i * 10%);
            }

            .h\:cc-d-#{$k}-#{$i} {
                &:hover {
                    caret-color: mix(black, $v, $i * 10%);
                }
            }
        }
    }
}
