.ff-d {
    font-family: $base-system-fonts;
    font-weight: $base-font-weight;
}

.ff-c {
    font-family: $base-charter-fonts;
    font-weight: $base-font-weight;
}

.ff-i {
    font-family: $base-inter-fonts;
    font-weight: $base-font-weight;
}

.ff-m {
    font-family: $base-monospace-fonts;
    font-weight: $base-font-weight;
}
