.ff-d {
    font-family: $yma-system-fonts;
    font-weight: $yma-font-weight;
}

.ff-c {
    font-family: $yma-charter-fonts;
    font-weight: $yma-font-weight;
}

.ff-i {
    font-family: $yma-inter-fonts;
    font-weight: $yma-font-weight;
}

.ff-m {
    font-family: $yma-monospace-fonts;
    font-weight: $yma-font-weight;
}
