.ff-d {
 font-family: system-ui, sans-serif;
 font-weight: $base-font;
}

.ff-c {
 font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
 font-weight: $base-font;
}

.ff-i {
 font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
 font-weight: $base-font;
}

.ff-m {
 font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
 font-weight: $base-font;
}