@use 'sass:math';

$utilities: (
    "box-sizing": ("prefix": "bs",
        "values": ("bb": border-box,
            "cb": content-box,
        ),
    ),

    "columns": ("prefix": "col",
        "values": ("1": $base-columns,
            "2": $base-columns * 2,
            "3": $base-columns * 3,
            "4": $base-columns * 4,
            "5": $base-columns * 5,
            "6": $base-columns * 6,
            "7": $base-columns * 7,
            "8": $base-columns * 8,
            "9": $base-columns * 9,
            "10": $base-columns * 10,
            "11": $base-columns * 11,
            "12": $base-columns * 12,
            "13": $base-columns * 13,
            "14": $base-columns * 14,
            "15": $base-columns * 15,
            "16": $base-columns * 16,
        ),
    ),

    "bottom": ("prefix": "dir-b",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "inset": ("prefix": "dir-i",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "left": ("prefix": "dir-l",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "right": ("prefix": "dir-r",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "top": ("prefix": "dir-t",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "flex-wrap": ("prefix": "fw",
        "values": ("w": wrap,
            "wr": wrap-reverse,
            "nw": nowrap,
        ),
    ),

    "display": ("prefix": "dis",
        "values": ("b": block,
            "f": flex,
            "g": grid,
            "i": inline,
            "ib": inline-block,
            "if": inline-flex,
            "none": none,
        ),
    ),

    "float": ("prefix": "f",
        "values": ("l": left,
            "none": none,
            "r": right,
        ),
    ),

    "overflow": ("prefix": "ovf",
        "values": ("auto": auto,
            "c": clip,
            "h": hidden,
            "s": scroll,
            "v": visible,
        ),
    ),

    "overflow-x": ("prefix": "ovf-x",
        "values": ("auto": auto,
            "c": clip,
            "h": hidden,
            "s": scroll,
            "v": visible,
        ),
    ),

    "overflow-y": ("prefix": "ovf-y",
        "values": ("auto": auto,
            "c": clip,
            "h": hidden,
            "s": scroll,
            "v": visible,
        ),
    ),

    "position": ("prefix": "pos",
        "values": ("a": absolute,
            "f": fixed,
            "r": relative,
            "static": static,
            "sticky": sticky,
        ),
    ),

    "z-index": ("prefix": "zi",
        "values": ("0": 0,
            "10": 10,
            "20": 20,
            "30": 30,
            "40": 40,
            "50": 50,
            "60": 60,
            "70": 70,
            "80": 80,
            "90": 90,
            "auto": auto,
        ),
    ),

    "border-width": ("prefix": "b",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-bottom-width": ("prefix": "bb",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-left-width": ("prefix": "bl",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-right-width": ("prefix": "br",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-top-width": ("prefix": "bt",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-radius": ("prefix": "rad",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
            "full": 100%,
            "half": 50%,
        ),
    ),

    "border-top-left-radius": ("prefix": "rad-tl",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
        ),
    ),

    "border-top-right-radius": ("prefix": "rad-tr",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
        ),
    ),

    "border-bottom-left-radius": ("prefix": "rad-bl",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
        ),
    ),

    "border-bottom-right-radius": ("prefix": "rad-br",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
        ),
    ),

    "box-shadow": ("prefix": "bs",
        "values": ("default": 1px 3px 5px rgba(0, 0, 0, 0.1),
            "xsm": 1px 3px 5px -3px rgba(0, 0, 0, 0.1),
            "sm": 1px 3px 5px -2px rgba(0, 0, 0, 0.1),
            "md": 1px 3px 5px -1px rgba(0, 0, 0, 0.1),
            "lg": 1px 3px 5px 1px rgba(0, 0, 0, 0.1),
            "xlg": 1px 3px 5px 2px rgba(0, 0, 0, 0.1),
        ),
    ),

    "opacity": ("prefix": "o",
        "values": ("10": 0.1,
            "20": 0.2,
            "30": 0.3,
            "40": 0.4,
            "50": 0.5,
            "60": 0.6,
            "70": 0.7,
            "80": 0.8,
            "90": 0.9,
            "100": 1,
        ),
    ),

    "font-size": ("prefix": "fs",
        "values": ("sm": $font-size-sm,
            "md": $base-font-size,
            "lg": $font-size-lg,
            "xlg": $font-size-xlg,
        ),
    ),

    "font-weight": ("prefix": "fw",
        "values": ("100": 100,
            "200": 200,
            "300": 300,
            "400": 400,
            "500": 500,
            "600": 600,
            "700": 700,
            "800": 800,
            "900": 900,
        ),
    ),

    "text-align": ("prefix": "ta",
        "values": ("l": left,
            "c": center,
            "r": right,
            "j": justify,
            "s": start,
            "e": end,
        ),
    ),

    "text-decoration-line": ("prefix": "tdl",
        "values": ("none": none,
            "lt": line-through,
            "u": underline,
        ),
    ),

    "overflow-wrap": ("prefix": "ow",
        "values": ("ba": break-all,
            "bw": break-word,
            "ka": keep-all,
            "n": normal,
        ),
    ),

    "align-items": ("prefix": "ai",
        "values": ("c": center,
            "e": end,
            "start": start,
            "stretch": stretch,
        ),
    ),

    "flex-direction": ("prefix": "fd",
        "values": ("c": column,
            "cr": column-reverse,
            "r": row,
            "rr": row-reverse,
        ),
    ),

    "justify-content": ("prefix": "jc",
        "values": ("c": center,
            "sa": space-around,
            "sb": space-between,
            "se": space-evenly,
            "s": start,
        ),
    ),

    "column-gap": ("prefix": "cg",
        "values": ("1": $base-column-gap,
            "2": $base-column-gap * 2,
            "3": $base-column-gap * 3,
            "4": $base-column-gap * 4,
            "5": $base-column-gap * 5,
            "6": $base-column-gap * 6,
            "7": $base-column-gap * 7,
            "8": $base-column-gap * 8,
            "9": $base-column-gap * 9,
            "10": $base-column-gap * 10,
            "11": $base-column-gap * 11,
            "12": $base-column-gap * 12,
            "13": $base-column-gap * 13,
            "14": $base-column-gap * 14,
            "15": $base-column-gap * 15,
            "16": $base-column-gap * 16,
        ),
    ),

    "row-gap": ("prefix": "rg",
        "values": ("1": $base-row-gap,
            "2": $base-row-gap * 2,
            "3": $base-row-gap * 3,
            "4": $base-row-gap * 4,
            "5": $base-row-gap * 5,
            "6": $base-row-gap * 6,
            "7": $base-row-gap * 7,
            "8": $base-row-gap * 8,
            "9": $base-row-gap * 9,
            "10": $base-row-gap * 10,
            "11": $base-row-gap * 11,
            "12": $base-row-gap * 12,
            "13": $base-row-gap * 13,
            "14": $base-row-gap * 14,
            "15": $base-row-gap * 15,
            "16": $base-row-gap * 16,
        ),
    ),

    "grid-template-columns": ("prefix": "gtc",
        "values": ("1": repeat(1, auto),
            "2": repeat(2, auto),
            "3": repeat(3, auto),
            "4": repeat(4, auto),
            "5": repeat(5, auto),
            "6": repeat(6, auto),
            "7": repeat(7, auto),
            "8": repeat(8, auto),
            "9": repeat(9, auto),
            "10": repeat(10, auto),
            "11": repeat(11, auto),
            "12": repeat(12, auto),
            "13": repeat(13, auto),
            "14": repeat(14, auto),
            "15": repeat(15, auto),
            "16": repeat(16, auto),
        ),
    ),

    "grid-template-rows": ("prefix": "gtr",
        "values": ("1": repeat($base-template-rows, auto),
            "2": repeat(2, auto),
            "3": repeat(3, auto),
            "4": repeat(4, auto),
            "5": repeat(5, auto),
            "6": repeat(6, auto),
            "7": repeat(7, auto),
            "8": repeat(8, auto),
            "9": repeat(9, auto),
            "10": repeat(10, auto),
            "11": repeat(11, auto),
            "12": repeat(12, auto),
            "13": repeat(13, auto),
            "14": repeat(14, auto),
            "15": repeat(15, auto),
            "16": repeat(16, auto),
        ),
    ),

    "resize": ("prefix": "r",
        "values": ("b": both,
            "h": horizontal,
            "none": none,
            "v": vertical,
        ),
    ),
);

@each $property,
$map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k,
    $v in $values {
        @if($k =="default") {
            .#{$prefix} {
                #{$property}: $v;
            }
        }

        @else {
            .#{$prefix}-#{$k} {
                #{$property}: $v;
            }
        }
    }
}

$custom-values: (
    'auto': auto,
    'full': 100%,
    'half': 50%
);

@for $i from 0 through 100 {
    .h-#{$i} {
        height: $i * $base-height;
    }

    .max-h-#{$i} {
        max-height: $i * $base-height;
    }

    .min-h-#{$i} {
        min-height: $i * $base-height;
    }

    .w-#{$i} {
        width: $i * $base-width;
    }

    .max-w-#{$i} {
        max-width: $i * $base-width;
    }

    .min-w-#{$i} {
        min-width: $i * $base-width;
    }

    .m-#{$i} {
        margin: $i * $base-margin;
    }

    .mb-#{$i} {
        margin-bottom: $i * $base-margin;
    }

    .ml-#{$i} {
        margin-left: $i * $base-margin;
    }

    .mr-#{$i} {
        margin-right: $i * $base-margin;
    }

    .mt-#{$i} {
        margin-top: $i * $base-margin;
    }

    .p-#{$i} {
        padding: $i * $base-padding;
    }

    .pb-#{$i} {
        padding-bottom: $i * $base-padding;
    }

    .pl-#{$i} {
        padding-left: $i * $base-padding;
    }

    .pr-#{$i} {
        padding-right: $i * $base-padding;
    }

    .pt-#{$i} {
        padding-top: $i * $base-padding;
    }
}

@each $key, $value in $custom-values {
    .h-#{$key} {
        height: $value;
    }

    .max-h-#{$key} {
        max-height: $value;
    }

    .min-h-#{$key} {
        min-height: $value;
    }

    .w-#{$key} {
        width: $value;
    }

    .max-w-#{$key} {
        max-width: $value;
    }

    .min-w-#{$key} {
        min-width: $value;
    }
}

@each $key, $value in $custom-values {
    @if $key =='auto' {
        .m-#{$key} {
            margin: $value;
        }

        .mb-#{$key} {
            margin-bottom: $value;
        }

        .ml-#{$key} {
            margin-left: $value;
        }

        .mr-#{$key} {
            margin-right: $value;
        }

        .mt-#{$key} {
            margin-top: $value;
        }

        .p-#{$key} {
            padding: $value;
        }

        .pb-#{$key} {
            padding-bottom: $value;
        }

        .pl-#{$key} {
            padding-left: $value;
        }

        .pr-#{$key} {
            padding-right: $value;
        }

        .pt-#{$key} {
            padding-top: $value;
        }
    }
}