@use 'sass:math';

$utilities: (
    // arrangement
    "box-sizing": ("prefix": "bs",
        "values": ("bb": border-box,
            "cb": content-box,
        ),
    ),

    "columns": ("prefix": "col",
        "values": ("1": $base-columns,
            "2": $base-columns * 2,
            "3": $base-columns * 3,
            "4": $base-columns * 4,
            "5": $base-columns * 5,
            "6": $base-columns * 6,
            "7": $base-columns * 7,
            "8": $base-columns * 8,
            "9": $base-columns * 9,
            "10": $base-columns * 10,
            "11": $base-columns * 11,
            "12": $base-columns * 12,
            "13": $base-columns * 13,
            "14": $base-columns * 14,
            "15": $base-columns * 15,
            "16": $base-columns * 16,
        ),
    ),

    "bottom": ("prefix": "dir-b",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "inset": ("prefix": "dir-i",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "left": ("prefix": "dir-l",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "right": ("prefix": "dir-r",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "top": ("prefix": "dir-t",
        "values": ("default": $base-direction * 0,
            "1": $base-direction,
            "2": $base-direction * 2,
            "3": $base-direction * 4,
            "4": $base-direction * 6,
            "5": $base-direction * 8,
            "6": $base-direction * 10,
            "7": $base-direction * 12,
            "8": $base-direction * 14,
            "9": $base-direction * 16,
            "10": $base-direction * 18,
            "11": $base-direction * 20,
            "12": $base-direction * 22,
            "13": $base-direction * 24,
            "14": $base-direction * 26,
            "15": $base-direction * 28,
            "16": $base-direction * 30,
            "none": none,
        ),
    ),

    "flex-wrap": ("prefix": "fw",
        "values": ("w": wrap,
            "wr": wrap-reverse,
            "nw": nowrap,
        ),
    ),

    "display": ("prefix": "dis",
        "values": ("b": block,
            "f": flex,
            "g": grid,
            "i": inline,
            "ib": inline-block,
            "if": inline-flex,
            "none": none,
        ),
    ),

    "float": ("prefix": "f",
        "values": ("l": left,
            "none": none,
            "r": right,
        ),
    ),

    "overflow": ("prefix": "ovf",
        "values": ("auto": auto,
            "c": clip,
            "h": hidden,
            "s": scroll,
            "v": visible,
        ),
    ),

    "overflow-x": ("prefix": "ovf-x",
        "values": ("auto": auto,
            "c": clip,
            "h": hidden,
            "s": scroll,
            "v": visible,
        ),
    ),

    "overflow-y": ("prefix": "ovf-y",
        "values": ("auto": auto,
            "c": clip,
            "h": hidden,
            "s": scroll,
            "v": visible,
        ),
    ),

    "position": ("prefix": "pos",
        "values": ("a": absolute,
            "f": fixed,
            "r": relative,
            "static": static,
            "sticky": sticky,
        ),
    ),

    "z-index": ("prefix": "zi",
        "values": ("0": 0,
            "10": 10,
            "20": 20,
            "30": 30,
            "40": 40,
            "50": 50,
            "60": 60,
            "70": 70,
            "80": 80,
            "90": 90,
            "auto": auto,
        ),
    ),

    // border
    "border-width": ("prefix": "b",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-bottom-width": ("prefix": "bb",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-left-width": ("prefix": "bl",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-right-width": ("prefix": "br",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-top-width": ("prefix": "bt",
        "values": ("0": $base-border * 0,
            "1": $base-border,
            "2": $base-border * 2,
            "3": $base-border * 4,
            "4": $base-border * 6,
            "5": $base-border * 8,
            "6": $base-border * 10,
            "7": $base-border * 12,
            "8": $base-border * 14,
        ),
    ),

    "border-radius": ("prefix": "rad",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
            "full": 100%,
            "half": 50%,
        ),
    ),

    "border-top-left-radius": ("prefix": "rad-tl",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
        ),
    ),

    "border-top-right-radius": ("prefix": "rad-tr",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
        ),
    ),

    "border-bottom-left-radius": ("prefix": "rad-bl",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
        ),
    ),

    "border-bottom-right-radius": ("prefix": "rad-br",
        "values": ("0": $base-border-radius * 0,
            "1": $base-border-radius,
            "2": $base-border-radius * 2,
            "3": $base-border-radius * 4,
            "4": $base-border-radius * 6,
            "5": $base-border-radius * 8,
            "6": $base-border-radius * 10,
            "7": $base-border-radius * 12,
            "8": $base-border-radius * 14,
        ),
    ),

    // effect
    "box-shadow": ("prefix": "bs",
        "values": ("default": 1px 3px 5px rgba(0, 0, 0, 0.1),
            "xsm": 1px 3px 5px -3px rgba(0, 0, 0, 0.1),
            "sm": 1px 3px 5px -2px rgba(0, 0, 0, 0.1),
            "md": 1px 3px 5px -1px rgba(0, 0, 0, 0.1),
            "lg": 1px 3px 5px 1px rgba(0, 0, 0, 0.1),
            "xlg": 1px 3px 5px 2px rgba(0, 0, 0, 0.1),
        ),
    ),

    "opacity": ("prefix": "o",
        "values": ("10": 0.1,
            "20": 0.2,
            "30": 0.3,
            "40": 0.4,
            "50": 0.5,
            "60": 0.6,
            "70": 0.7,
            "80": 0.8,
            "90": 0.9,
            "100": 1,
        ),
    ),

    // typography
    "font-size": ("prefix": "fs",
        "values": ("sm": $font-size-sm,
            "md": $base-font-size,
            "lg": $font-size-lg,
            "xlg": $font-size-xlg,
        ),
    ),

    "font-weight": ("prefix": "fw",
        "values": ("100": 100,
            "200": 200,
            "300": 300,
            "400": 400,
            "500": 500,
            "600": 600,
            "700": 700,
            "800": 800,
            "900": 900,
        ),
    ),

    "text-align": ("prefix": "ta",
        "values": ("l": left,
            "c": center,
            "r": right,
            "j": justify,
            "s": start,
            "e": end,
        ),
    ),

    "text-decoration-line": ("prefix": "tdl",
        "values": ("none": none,
            "lt": line-through,
            "u": underline,
        ),
    ),

    "overflow-wrap": ("prefix": "ow",
        "values": ("ba": break-all,
            "bw": break-word,
            "ka": keep-all,
            "n": normal,
        ),
    ),

    // flexbox
    "align-items": ("prefix": "ai",
        "values": ("c": center,
            "e": end,
            "start": start,
            "stretch": stretch,
        ),
    ),

    "flex-direction": ("prefix": "fd",
        "values": ("c": column,
            "cr": column-reverse,
            "r": row,
            "rr": row-reverse,
        ),
    ),

    "justify-content": ("prefix": "jc",
        "values": ("c": center,
            "sa": space-around,
            "sb": space-between,
            "se": space-evenly,
            "s": start,
        ),
    ),

    // grid
    "column-gap": ("prefix": "cg",
        "values": ("1": $base-column-gap,
            "2": $base-column-gap * 2,
            "3": $base-column-gap * 3,
            "4": $base-column-gap * 4,
            "5": $base-column-gap * 5,
            "6": $base-column-gap * 6,
            "7": $base-column-gap * 7,
            "8": $base-column-gap * 8,
            "9": $base-column-gap * 9,
            "10": $base-column-gap * 10,
            "11": $base-column-gap * 11,
            "12": $base-column-gap * 12,
            "13": $base-column-gap * 13,
            "14": $base-column-gap * 14,
            "15": $base-column-gap * 15,
            "16": $base-column-gap * 16,
        ),
    ),

    "row-gap": ("prefix": "rg",
        "values": ("1": $base-row-gap,
            "2": $base-row-gap * 2,
            "3": $base-row-gap * 3,
            "4": $base-row-gap * 4,
            "5": $base-row-gap * 5,
            "6": $base-row-gap * 6,
            "7": $base-row-gap * 7,
            "8": $base-row-gap * 8,
            "9": $base-row-gap * 9,
            "10": $base-row-gap * 10,
            "11": $base-row-gap * 11,
            "12": $base-row-gap * 12,
            "13": $base-row-gap * 13,
            "14": $base-row-gap * 14,
            "15": $base-row-gap * 15,
            "16": $base-row-gap * 16,
        ),
    ),

    "grid-template-columns": ("prefix": "gtc",
        "values": ("1": repeat(1, auto),
            "2": repeat(2, auto),
            "3": repeat(3, auto),
            "4": repeat(4, auto),
            "5": repeat(5, auto),
            "6": repeat(6, auto),
            "7": repeat(7, auto),
            "8": repeat(8, auto),
            "9": repeat(9, auto),
            "10": repeat(10, auto),
            "11": repeat(11, auto),
            "12": repeat(12, auto),
            "13": repeat(13, auto),
            "14": repeat(14, auto),
            "15": repeat(15, auto),
            "16": repeat(16, auto),
        ),
    ),

    "grid-template-rows": ("prefix": "gtr",
        "values": ("1": repeat($base-template-rows, auto),
            "2": repeat(2, auto),
            "3": repeat(3, auto),
            "4": repeat(4, auto),
            "5": repeat(5, auto),
            "6": repeat(6, auto),
            "7": repeat(7, auto),
            "8": repeat(8, auto),
            "9": repeat(9, auto),
            "10": repeat(10, auto),
            "11": repeat(11, auto),
            "12": repeat(12, auto),
            "13": repeat(13, auto),
            "14": repeat(14, auto),
            "15": repeat(15, auto),
            "16": repeat(16, auto),
        ),
    ),

    // property
    "resize": ("prefix": "r",
        "values": ("b": both,
            "h": horizontal,
            "none": none,
            "v": vertical,
        ),
    ),

    // size
    "height": ("prefix": "h",
        "values": ("0": $base-height * 0,
            "1": $base-height,
            "2": $base-height * 2,
            "3": $base-height * 4,
            "4": $base-height * 6,
            "5": $base-height * 8,
            "6": $base-height * 10,
            "7": $base-height * 12,
            "8": $base-height * 14,
            "9": $base-height * 16,
            "10": $base-height * 18,
            "11": $base-height * 20,
            "12": $base-height * 22,
            "13": $base-height * 24,
            "14": $base-height * 26,
            "15": $base-height * 28,
            "16": $base-height * 30,
            "17": $base-height * 32,
            "18": $base-height * 34,
            "19": $base-height * 36,
            "20": $base-height * 38,
            "21": $base-height * 40,
            "22": $base-height * 42,
            "23": $base-height * 44,
            "24": $base-height * 46,
            "25": $base-height * 48,
            "26": $base-height * 50,
            "27": $base-height * 52,
            "28": $base-height * 54,
            "29": $base-height * 56,
            "30": $base-height * 58,
            "31": $base-height * 60,
            "32": $base-height * 62,
            "33": $base-height * 64,
            "34": $base-height * 66,
            "35": $base-height * 68,
            "36": $base-height * 70,
            "37": $base-height * 72,
            "38": $base-height * 74,
            "39": $base-height * 76,
            "40": $base-height * 78,
            "41": $base-height * 80,
            "42": $base-height * 82,
            "43": $base-height * 84,
            "44": $base-height * 86,
            "45": $base-height * 88,
            "46": $base-height * 90,
            "47": $base-height * 92,
            "48": $base-height * 94,
            "49": $base-height * 96,
            "50": $base-height * 98,
            "55": $base-height * 100,
            "60": $base-height * 102,
            "65": $base-height * 104,
            "70": $base-height * 106,
            "75": $base-height * 108,
            "80": $base-height * 110,
            "85": $base-height * 112,
            "90": $base-height * 114,
            "95": $base-height * 116,
            "100": $base-height * 118,
            "auto": auto,
            "full": 100%,
            "half": 50%,
        ),
    ),

    "max-height": ("prefix": "max-h",
        "values": ("0": $base-height * 0,
            "1": $base-height,
            "2": $base-height * 2,
            "3": $base-height * 4,
            "4": $base-height * 6,
            "5": $base-height * 8,
            "6": $base-height * 10,
            "7": $base-height * 12,
            "8": $base-height * 14,
            "9": $base-height * 16,
            "10": $base-height * 18,
            "11": $base-height * 20,
            "12": $base-height * 22,
            "13": $base-height * 24,
            "14": $base-height * 26,
            "15": $base-height * 28,
            "16": $base-height * 30,
            "17": $base-height * 32,
            "18": $base-height * 34,
            "19": $base-height * 36,
            "20": $base-height * 38,
            "21": $base-height * 40,
            "22": $base-height * 42,
            "23": $base-height * 44,
            "24": $base-height * 46,
            "25": $base-height * 48,
            "26": $base-height * 50,
            "27": $base-height * 52,
            "28": $base-height * 54,
            "29": $base-height * 56,
            "30": $base-height * 58,
            "31": $base-height * 60,
            "32": $base-height * 62,
            "33": $base-height * 64,
            "34": $base-height * 66,
            "35": $base-height * 68,
            "36": $base-height * 70,
            "37": $base-height * 72,
            "38": $base-height * 74,
            "39": $base-height * 76,
            "40": $base-height * 78,
            "41": $base-height * 80,
            "42": $base-height * 82,
            "43": $base-height * 84,
            "44": $base-height * 86,
            "45": $base-height * 88,
            "46": $base-height * 90,
            "47": $base-height * 92,
            "48": $base-height * 94,
            "49": $base-height * 96,
            "50": $base-height * 98,
            "55": $base-height * 100,
            "60": $base-height * 102,
            "65": $base-height * 104,
            "70": $base-height * 106,
            "75": $base-height * 108,
            "80": $base-height * 110,
            "85": $base-height * 112,
            "90": $base-height * 114,
            "95": $base-height * 116,
            "100": $base-height * 118,
            "auto": auto,
            "full": 100%,
            "half": 50%,
        ),
    ),

    "min-height": ("prefix": "min-h",
        "values": ("0": $base-height * 0,
            "1": $base-height,
            "2": $base-height * 2,
            "3": $base-height * 4,
            "4": $base-height * 6,
            "5": $base-height * 8,
            "6": $base-height * 10,
            "7": $base-height * 12,
            "8": $base-height * 14,
            "9": $base-height * 16,
            "10": $base-height * 18,
            "11": $base-height * 20,
            "12": $base-height * 22,
            "13": $base-height * 24,
            "14": $base-height * 26,
            "15": $base-height * 28,
            "16": $base-height * 30,
            "17": $base-height * 32,
            "18": $base-height * 34,
            "19": $base-height * 36,
            "20": $base-height * 38,
            "21": $base-height * 40,
            "22": $base-height * 42,
            "23": $base-height * 44,
            "24": $base-height * 46,
            "25": $base-height * 48,
            "26": $base-height * 50,
            "27": $base-height * 52,
            "28": $base-height * 54,
            "29": $base-height * 56,
            "30": $base-height * 58,
            "31": $base-height * 60,
            "32": $base-height * 62,
            "33": $base-height * 64,
            "34": $base-height * 66,
            "35": $base-height * 68,
            "36": $base-height * 70,
            "37": $base-height * 72,
            "38": $base-height * 74,
            "39": $base-height * 76,
            "40": $base-height * 78,
            "41": $base-height * 80,
            "42": $base-height * 82,
            "43": $base-height * 84,
            "44": $base-height * 86,
            "45": $base-height * 88,
            "46": $base-height * 90,
            "47": $base-height * 92,
            "48": $base-height * 94,
            "49": $base-height * 96,
            "50": $base-height * 98,
            "55": $base-height * 100,
            "60": $base-height * 102,
            "65": $base-height * 104,
            "70": $base-height * 106,
            "75": $base-height * 108,
            "80": $base-height * 110,
            "85": $base-height * 112,
            "90": $base-height * 114,
            "95": $base-height * 116,
            "100": $base-height * 118,
            "auto": auto,
            "full": 100%,
            "half": 50%,
        ),
    ),

    "width": ("prefix": "w",
        "values": ("0": $base-width * 0,
            "1": $base-width,
            "2": $base-width * 2,
            "3": $base-width * 4,
            "4": $base-width * 6,
            "5": $base-width * 8,
            "6": $base-width * 10,
            "7": $base-width * 12,
            "8": $base-width * 14,
            "9": $base-width * 16,
            "10": $base-width * 18,
            "11": $base-width * 20,
            "12": $base-width * 22,
            "13": $base-width * 24,
            "14": $base-width * 26,
            "15": $base-width * 28,
            "16": $base-width * 30,
            "17": $base-width * 32,
            "18": $base-width * 34,
            "19": $base-width * 36,
            "20": $base-width * 38,
            "21": $base-width * 40,
            "22": $base-width * 42,
            "23": $base-width * 44,
            "24": $base-width * 46,
            "25": $base-width * 48,
            "26": $base-width * 50,
            "27": $base-width * 52,
            "28": $base-width * 54,
            "29": $base-width * 56,
            "30": $base-width * 58,
            "31": $base-width * 60,
            "32": $base-width * 62,
            "33": $base-width * 64,
            "34": $base-width * 66,
            "35": $base-width * 68,
            "36": $base-width * 70,
            "37": $base-width * 72,
            "38": $base-width * 74,
            "39": $base-width * 76,
            "40": $base-width * 78,
            "41": $base-width * 80,
            "42": $base-width * 82,
            "43": $base-width * 84,
            "44": $base-width * 86,
            "45": $base-width * 88,
            "46": $base-width * 90,
            "47": $base-width * 92,
            "48": $base-width * 94,
            "49": $base-width * 96,
            "50": $base-width * 98,
            "55": $base-width * 100,
            "60": $base-width * 102,
            "65": $base-width * 104,
            "70": $base-width * 106,
            "75": $base-width * 108,
            "80": $base-width * 110,
            "85": $base-width * 112,
            "90": $base-width * 114,
            "95": $base-width * 116,
            "100": $base-width * 118,
            "auto": auto,
            "full": 100%,
            "half": 50%,
        ),
    ),

    "max-width": ("prefix": "max-w",
        "values": ("0": $base-width * 0,
            "1": $base-width,
            "2": $base-width * 2,
            "3": $base-width * 4,
            "4": $base-width * 6,
            "5": $base-width * 8,
            "6": $base-width * 10,
            "7": $base-width * 12,
            "8": $base-width * 14,
            "9": $base-width * 16,
            "10": $base-width * 18,
            "11": $base-width * 20,
            "12": $base-width * 22,
            "13": $base-width * 24,
            "14": $base-width * 26,
            "15": $base-width * 28,
            "16": $base-width * 30,
            "17": $base-width * 32,
            "18": $base-width * 34,
            "19": $base-width * 36,
            "20": $base-width * 38,
            "21": $base-width * 40,
            "22": $base-width * 42,
            "23": $base-width * 44,
            "24": $base-width * 46,
            "25": $base-width * 48,
            "26": $base-width * 50,
            "27": $base-width * 52,
            "28": $base-width * 54,
            "29": $base-width * 56,
            "30": $base-width * 58,
            "31": $base-width * 60,
            "32": $base-width * 62,
            "33": $base-width * 64,
            "34": $base-width * 66,
            "35": $base-width * 68,
            "36": $base-width * 70,
            "37": $base-width * 72,
            "38": $base-width * 74,
            "39": $base-width * 76,
            "40": $base-width * 78,
            "41": $base-width * 80,
            "42": $base-width * 82,
            "43": $base-width * 84,
            "44": $base-width * 86,
            "45": $base-width * 88,
            "46": $base-width * 90,
            "47": $base-width * 92,
            "48": $base-width * 94,
            "49": $base-width * 96,
            "50": $base-width * 98,
            "55": $base-width * 100,
            "60": $base-width * 102,
            "65": $base-width * 104,
            "70": $base-width * 106,
            "75": $base-width * 108,
            "80": $base-width * 110,
            "85": $base-width * 112,
            "90": $base-width * 114,
            "95": $base-width * 116,
            "100": $base-width * 118,
            "auto": auto,
            "full": 100%,
            "half": 50%,
        ),
    ),

    "min-width": ("prefix": "min-w",
        "values": ("0": $base-width * 0,
            "1": $base-width,
            "2": $base-width * 2,
            "3": $base-width * 4,
            "4": $base-width * 6,
            "5": $base-width * 8,
            "6": $base-width * 10,
            "7": $base-width * 12,
            "8": $base-width * 14,
            "9": $base-width * 16,
            "10": $base-width * 18,
            "11": $base-width * 20,
            "12": $base-width * 22,
            "13": $base-width * 24,
            "14": $base-width * 26,
            "15": $base-width * 28,
            "16": $base-width * 30,
            "17": $base-width * 32,
            "18": $base-width * 34,
            "19": $base-width * 36,
            "20": $base-width * 38,
            "21": $base-width * 40,
            "22": $base-width * 42,
            "23": $base-width * 44,
            "24": $base-width * 46,
            "25": $base-width * 48,
            "26": $base-width * 50,
            "27": $base-width * 52,
            "28": $base-width * 54,
            "29": $base-width * 56,
            "30": $base-width * 58,
            "31": $base-width * 60,
            "32": $base-width * 62,
            "33": $base-width * 64,
            "34": $base-width * 66,
            "35": $base-width * 68,
            "36": $base-width * 70,
            "37": $base-width * 72,
            "38": $base-width * 74,
            "39": $base-width * 76,
            "40": $base-width * 78,
            "41": $base-width * 80,
            "42": $base-width * 82,
            "43": $base-width * 84,
            "44": $base-width * 86,
            "45": $base-width * 88,
            "46": $base-width * 90,
            "47": $base-width * 92,
            "48": $base-width * 94,
            "49": $base-width * 96,
            "50": $base-width * 98,
            "55": $base-width * 100,
            "60": $base-width * 102,
            "65": $base-width * 104,
            "70": $base-width * 106,
            "75": $base-width * 108,
            "80": $base-width * 110,
            "85": $base-width * 112,
            "90": $base-width * 114,
            "95": $base-width * 116,
            "100": $base-width * 118,
            "auto": auto,
            "full": 100%,
            "half": 50%,
        ),
    ),

    // space
    "margin": ("prefix": "m",
        "values": ("0": $base-margin * 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
            "11": $base-margin * 20,
            "12": $base-margin * 22,
            "13": $base-margin * 24,
            "14": $base-margin * 26,
            "15": $base-margin * 28,
            "16": $base-margin * 30,
            "17": $base-margin * 32,
            "18": $base-margin * 34,
            "19": $base-margin * 36,
            "20": $base-margin * 38,
            "21": $base-margin * 40,
            "22": $base-margin * 42,
            "23": $base-margin * 44,
            "24": $base-margin * 46,
            "25": $base-margin * 48,
            "26": $base-margin * 50,
            "27": $base-margin * 52,
            "28": $base-margin * 54,
            "29": $base-margin * 56,
            "30": $base-margin * 58,
            "31": $base-margin * 60,
            "32": $base-margin * 62,
            "33": $base-margin * 64,
            "34": $base-margin * 66,
            "35": $base-margin * 68,
            "36": $base-margin * 70,
            "37": $base-margin * 72,
            "38": $base-margin * 74,
            "39": $base-margin * 76,
            "40": $base-margin * 78,
            "41": $base-margin * 80,
            "42": $base-margin * 82,
            "43": $base-margin * 84,
            "44": $base-margin * 86,
            "45": $base-margin * 88,
            "46": $base-margin * 90,
            "47": $base-margin * 92,
            "48": $base-margin * 94,
            "49": $base-margin * 96,
            "50": $base-margin * 98,
            "55": $base-margin * 100,
            "60": $base-margin * 102,
            "65": $base-margin * 104,
            "70": $base-margin * 106,
            "75": $base-margin * 108,
            "80": $base-margin * 110,
            "85": $base-margin * 112,
            "90": $base-margin * 114,
            "95": $base-margin * 116,
            "100": $base-margin * 118,
            "auto": auto,
        ),
    ),

    "margin-bottom": ("prefix": "mb",
        "values": ("0": $base-margin * 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
            "11": $base-margin * 20,
            "12": $base-margin * 22,
            "13": $base-margin * 24,
            "14": $base-margin * 26,
            "15": $base-margin * 28,
            "16": $base-margin * 30,
            "17": $base-margin * 32,
            "18": $base-margin * 34,
            "19": $base-margin * 36,
            "20": $base-margin * 38,
            "21": $base-margin * 40,
            "22": $base-margin * 42,
            "23": $base-margin * 44,
            "24": $base-margin * 46,
            "25": $base-margin * 48,
            "26": $base-margin * 50,
            "27": $base-margin * 52,
            "28": $base-margin * 54,
            "29": $base-margin * 56,
            "30": $base-margin * 58,
            "31": $base-margin * 60,
            "32": $base-margin * 62,
            "33": $base-margin * 64,
            "34": $base-margin * 66,
            "35": $base-margin * 68,
            "36": $base-margin * 70,
            "37": $base-margin * 72,
            "38": $base-margin * 74,
            "39": $base-margin * 76,
            "40": $base-margin * 78,
            "41": $base-margin * 80,
            "42": $base-margin * 82,
            "43": $base-margin * 84,
            "44": $base-margin * 86,
            "45": $base-margin * 88,
            "46": $base-margin * 90,
            "47": $base-margin * 92,
            "48": $base-margin * 94,
            "49": $base-margin * 96,
            "50": $base-margin * 98,
            "55": $base-margin * 100,
            "60": $base-margin * 102,
            "65": $base-margin * 104,
            "70": $base-margin * 106,
            "75": $base-margin * 108,
            "80": $base-margin * 110,
            "85": $base-margin * 112,
            "90": $base-margin * 114,
            "95": $base-margin * 116,
            "100": $base-margin * 118,
            "auto": auto,
        ),
    ),

    "margin-left": ("prefix": "ml",
        "values": ("0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
            "11": $base-margin * 20,
            "12": $base-margin * 22,
            "13": $base-margin * 24,
            "14": $base-margin * 26,
            "15": $base-margin * 28,
            "16": $base-margin * 30,
            "17": $base-margin * 32,
            "18": $base-margin * 34,
            "19": $base-margin * 36,
            "20": $base-margin * 38,
            "21": $base-margin * 40,
            "22": $base-margin * 42,
            "23": $base-margin * 44,
            "24": $base-margin * 46,
            "25": $base-margin * 48,
            "26": $base-margin * 50,
            "27": $base-margin * 52,
            "28": $base-margin * 54,
            "29": $base-margin * 56,
            "30": $base-margin * 58,
            "31": $base-margin * 60,
            "32": $base-margin * 62,
            "33": $base-margin * 64,
            "34": $base-margin * 66,
            "35": $base-margin * 68,
            "36": $base-margin * 70,
            "37": $base-margin * 72,
            "38": $base-margin * 74,
            "39": $base-margin * 76,
            "40": $base-margin * 78,
            "41": $base-margin * 80,
            "42": $base-margin * 82,
            "43": $base-margin * 84,
            "44": $base-margin * 86,
            "45": $base-margin * 88,
            "46": $base-margin * 90,
            "47": $base-margin * 92,
            "48": $base-margin * 94,
            "49": $base-margin * 96,
            "50": $base-margin * 98,
            "55": $base-margin * 100,
            "60": $base-margin * 102,
            "65": $base-margin * 104,
            "70": $base-margin * 106,
            "75": $base-margin * 108,
            "80": $base-margin * 110,
            "85": $base-margin * 112,
            "90": $base-margin * 114,
            "95": $base-margin * 116,
            "100": $base-margin * 118,
            "auto": auto,
        ),
    ),

    "margin-right": ("prefix": "mr",
        "values": ("0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
            "11": $base-margin * 20,
            "12": $base-margin * 22,
            "13": $base-margin * 24,
            "14": $base-margin * 26,
            "15": $base-margin * 28,
            "16": $base-margin * 30,
            "17": $base-margin * 32,
            "18": $base-margin * 34,
            "19": $base-margin * 36,
            "20": $base-margin * 38,
            "21": $base-margin * 40,
            "22": $base-margin * 42,
            "23": $base-margin * 44,
            "24": $base-margin * 46,
            "25": $base-margin * 48,
            "26": $base-margin * 50,
            "27": $base-margin * 52,
            "28": $base-margin * 54,
            "29": $base-margin * 56,
            "30": $base-margin * 58,
            "31": $base-margin * 60,
            "32": $base-margin * 62,
            "33": $base-margin * 64,
            "34": $base-margin * 66,
            "35": $base-margin * 68,
            "36": $base-margin * 70,
            "37": $base-margin * 72,
            "38": $base-margin * 74,
            "39": $base-margin * 76,
            "40": $base-margin * 78,
            "41": $base-margin * 80,
            "42": $base-margin * 82,
            "43": $base-margin * 84,
            "44": $base-margin * 86,
            "45": $base-margin * 88,
            "46": $base-margin * 90,
            "47": $base-margin * 92,
            "48": $base-margin * 94,
            "49": $base-margin * 96,
            "50": $base-margin * 98,
            "55": $base-margin * 100,
            "60": $base-margin * 102,
            "65": $base-margin * 104,
            "70": $base-margin * 106,
            "75": $base-margin * 108,
            "80": $base-margin * 110,
            "85": $base-margin * 112,
            "90": $base-margin * 114,
            "95": $base-margin * 116,
            "100": $base-margin * 118,
            "auto": auto,
        ),
    ),

    "margin-top": ("prefix": "mt",
        "values": ("0": $base-margin * 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
            "6": $base-margin * 10,
            "7": $base-margin * 12,
            "8": $base-margin * 14,
            "9": $base-margin * 16,
            "10": $base-margin * 18,
            "11": $base-margin * 20,
            "12": $base-margin * 22,
            "13": $base-margin * 24,
            "14": $base-margin * 26,
            "15": $base-margin * 28,
            "16": $base-margin * 30,
            "17": $base-margin * 32,
            "18": $base-margin * 34,
            "19": $base-margin * 36,
            "20": $base-margin * 38,
            "21": $base-margin * 40,
            "22": $base-margin * 42,
            "23": $base-margin * 44,
            "24": $base-margin * 46,
            "25": $base-margin * 48,
            "26": $base-margin * 50,
            "27": $base-margin * 52,
            "28": $base-margin * 54,
            "29": $base-margin * 56,
            "30": $base-margin * 58,
            "31": $base-margin * 60,
            "32": $base-margin * 62,
            "33": $base-margin * 64,
            "34": $base-margin * 66,
            "35": $base-margin * 68,
            "36": $base-margin * 70,
            "37": $base-margin * 72,
            "38": $base-margin * 74,
            "39": $base-margin * 76,
            "40": $base-margin * 78,
            "41": $base-margin * 80,
            "42": $base-margin * 82,
            "43": $base-margin * 84,
            "44": $base-margin * 86,
            "45": $base-margin * 88,
            "46": $base-margin * 90,
            "47": $base-margin * 92,
            "48": $base-margin * 94,
            "49": $base-margin * 96,
            "50": $base-margin * 98,
            "55": $base-margin * 100,
            "60": $base-margin * 102,
            "65": $base-margin * 104,
            "70": $base-margin * 106,
            "75": $base-margin * 108,
            "80": $base-margin * 110,
            "85": $base-margin * 112,
            "90": $base-margin * 114,
            "95": $base-margin * 116,
            "100": $base-margin * 118,
            "auto": auto,
        ),
    ),

    "padding": ("prefix": "p",
        "values": ("0": $base-padding * 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
            "11": $base-padding * 20,
            "12": $base-padding * 22,
            "13": $base-padding * 24,
            "14": $base-padding * 26,
            "15": $base-padding * 28,
            "16": $base-padding * 30,
            "17": $base-padding * 32,
            "18": $base-padding * 34,
            "19": $base-padding * 36,
            "20": $base-padding * 38,
            "21": $base-padding * 40,
            "22": $base-padding * 42,
            "23": $base-padding * 44,
            "24": $base-padding * 46,
            "25": $base-padding * 48,
            "26": $base-padding * 50,
            "27": $base-padding * 52,
            "28": $base-padding * 54,
            "29": $base-padding * 56,
            "30": $base-padding * 58,
            "31": $base-padding * 60,
            "32": $base-padding * 62,
            "33": $base-padding * 64,
            "34": $base-padding * 66,
            "35": $base-padding * 68,
            "36": $base-padding * 70,
            "37": $base-padding * 72,
            "38": $base-padding * 74,
            "39": $base-padding * 76,
            "40": $base-padding * 78,
            "41": $base-padding * 80,
            "42": $base-padding * 82,
            "43": $base-padding * 84,
            "44": $base-padding * 86,
            "45": $base-padding * 88,
            "46": $base-padding * 90,
            "47": $base-padding * 92,
            "48": $base-padding * 94,
            "49": $base-padding * 96,
            "50": $base-padding * 98,
            "55": $base-padding * 100,
            "60": $base-padding * 102,
            "65": $base-padding * 104,
            "70": $base-padding * 106,
            "75": $base-padding * 108,
            "80": $base-padding * 110,
            "85": $base-padding * 112,
            "90": $base-padding * 114,
            "95": $base-padding * 116,
            "100": $base-padding * 118,
            "auto": auto,
        ),
    ),

    "padding-bottom": ("prefix": "pb",
        "values": ("0": $base-padding * 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
            "11": $base-padding * 20,
            "12": $base-padding * 22,
            "13": $base-padding * 24,
            "14": $base-padding * 26,
            "15": $base-padding * 28,
            "16": $base-padding * 30,
            "17": $base-padding * 32,
            "18": $base-padding * 34,
            "19": $base-padding * 36,
            "20": $base-padding * 38,
            "21": $base-padding * 40,
            "22": $base-padding * 42,
            "23": $base-padding * 44,
            "24": $base-padding * 46,
            "25": $base-padding * 48,
            "26": $base-padding * 50,
            "27": $base-padding * 52,
            "28": $base-padding * 54,
            "29": $base-padding * 56,
            "30": $base-padding * 58,
            "31": $base-padding * 60,
            "32": $base-padding * 62,
            "33": $base-padding * 64,
            "34": $base-padding * 66,
            "35": $base-padding * 68,
            "36": $base-padding * 70,
            "37": $base-padding * 72,
            "38": $base-padding * 74,
            "39": $base-padding * 76,
            "40": $base-padding * 78,
            "41": $base-padding * 80,
            "42": $base-padding * 82,
            "43": $base-padding * 84,
            "44": $base-padding * 86,
            "45": $base-padding * 88,
            "46": $base-padding * 90,
            "47": $base-padding * 92,
            "48": $base-padding * 94,
            "49": $base-padding * 96,
            "50": $base-padding * 98,
            "55": $base-padding * 100,
            "60": $base-padding * 102,
            "65": $base-padding * 104,
            "70": $base-padding * 106,
            "75": $base-padding * 108,
            "80": $base-padding * 110,
            "85": $base-padding * 112,
            "90": $base-padding * 114,
            "95": $base-padding * 116,
            "100": $base-padding * 118,
            "auto": auto,
        ),
    ),

    "padding-left": ("prefix": "pl",
        "values": ("0": $base-padding * 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
            "11": $base-padding * 20,
            "12": $base-padding * 22,
            "13": $base-padding * 24,
            "14": $base-padding * 26,
            "15": $base-padding * 28,
            "16": $base-padding * 30,
            "17": $base-padding * 32,
            "18": $base-padding * 34,
            "19": $base-padding * 36,
            "20": $base-padding * 38,
            "21": $base-padding * 40,
            "22": $base-padding * 42,
            "23": $base-padding * 44,
            "24": $base-padding * 46,
            "25": $base-padding * 48,
            "26": $base-padding * 50,
            "27": $base-padding * 52,
            "28": $base-padding * 54,
            "29": $base-padding * 56,
            "30": $base-padding * 58,
            "31": $base-padding * 60,
            "32": $base-padding * 62,
            "33": $base-padding * 64,
            "34": $base-padding * 66,
            "35": $base-padding * 68,
            "36": $base-padding * 70,
            "37": $base-padding * 72,
            "38": $base-padding * 74,
            "39": $base-padding * 76,
            "40": $base-padding * 78,
            "41": $base-padding * 80,
            "42": $base-padding * 82,
            "43": $base-padding * 84,
            "44": $base-padding * 86,
            "45": $base-padding * 88,
            "46": $base-padding * 90,
            "47": $base-padding * 92,
            "48": $base-padding * 94,
            "49": $base-padding * 96,
            "50": $base-padding * 98,
            "55": $base-padding * 100,
            "60": $base-padding * 102,
            "65": $base-padding * 104,
            "70": $base-padding * 106,
            "75": $base-padding * 108,
            "80": $base-padding * 110,
            "85": $base-padding * 112,
            "90": $base-padding * 114,
            "95": $base-padding * 116,
            "100": $base-padding * 118,
            "auto": auto,
        ),
    ),

    "padding-right": ("prefix": "pr",
        "values": ("0": $base-padding * 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
            "11": $base-padding * 20,
            "12": $base-padding * 22,
            "13": $base-padding * 24,
            "14": $base-padding * 26,
            "15": $base-padding * 28,
            "16": $base-padding * 30,
            "17": $base-padding * 32,
            "18": $base-padding * 34,
            "19": $base-padding * 36,
            "20": $base-padding * 38,
            "21": $base-padding * 40,
            "22": $base-padding * 42,
            "23": $base-padding * 44,
            "24": $base-padding * 46,
            "25": $base-padding * 48,
            "26": $base-padding * 50,
            "27": $base-padding * 52,
            "28": $base-padding * 54,
            "29": $base-padding * 56,
            "30": $base-padding * 58,
            "31": $base-padding * 60,
            "32": $base-padding * 62,
            "33": $base-padding * 64,
            "34": $base-padding * 66,
            "35": $base-padding * 68,
            "36": $base-padding * 70,
            "37": $base-padding * 72,
            "38": $base-padding * 74,
            "39": $base-padding * 76,
            "40": $base-padding * 78,
            "41": $base-padding * 80,
            "42": $base-padding * 82,
            "43": $base-padding * 84,
            "44": $base-padding * 86,
            "45": $base-padding * 88,
            "46": $base-padding * 90,
            "47": $base-padding * 92,
            "48": $base-padding * 94,
            "49": $base-padding * 96,
            "50": $base-padding * 98,
            "55": $base-padding * 100,
            "60": $base-padding * 102,
            "65": $base-padding * 104,
            "70": $base-padding * 106,
            "75": $base-padding * 108,
            "80": $base-padding * 110,
            "85": $base-padding * 112,
            "90": $base-padding * 114,
            "95": $base-padding * 116,
            "100": $base-padding * 118,
            "auto": auto,
        ),
    ),

    "padding-top": ("prefix": "pt",
        "values": ("0": $base-padding * 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
            "6": $base-padding * 10,
            "7": $base-padding * 12,
            "8": $base-padding * 14,
            "9": $base-padding * 16,
            "10": $base-padding * 18,
            "11": $base-padding * 20,
            "12": $base-padding * 22,
            "13": $base-padding * 24,
            "14": $base-padding * 26,
            "15": $base-padding * 28,
            "16": $base-padding * 30,
            "17": $base-padding * 32,
            "18": $base-padding * 34,
            "19": $base-padding * 36,
            "20": $base-padding * 38,
            "21": $base-padding * 40,
            "22": $base-padding * 42,
            "23": $base-padding * 44,
            "24": $base-padding * 46,
            "25": $base-padding * 48,
            "26": $base-padding * 50,
            "27": $base-padding * 52,
            "28": $base-padding * 54,
            "29": $base-padding * 56,
            "30": $base-padding * 58,
            "31": $base-padding * 60,
            "32": $base-padding * 62,
            "33": $base-padding * 64,
            "34": $base-padding * 66,
            "35": $base-padding * 68,
            "36": $base-padding * 70,
            "37": $base-padding * 72,
            "38": $base-padding * 74,
            "39": $base-padding * 76,
            "40": $base-padding * 78,
            "41": $base-padding * 80,
            "42": $base-padding * 82,
            "43": $base-padding * 84,
            "44": $base-padding * 86,
            "45": $base-padding * 88,
            "46": $base-padding * 90,
            "47": $base-padding * 92,
            "48": $base-padding * 94,
            "49": $base-padding * 96,
            "50": $base-padding * 98,
            "55": $base-padding * 100,
            "60": $base-padding * 102,
            "65": $base-padding * 104,
            "70": $base-padding * 106,
            "75": $base-padding * 108,
            "80": $base-padding * 110,
            "85": $base-padding * 112,
            "90": $base-padding * 114,
            "95": $base-padding * 116,
            "100": $base-padding * 118,
            "auto": auto,
        ),
    ),
);

// generate utility classes
@each $property,
$map in $utilities {
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k,
    $v in $values {
        @if($k =="default") {
            .#{$prefix} {
                #{$property}: $v;
            }
        }

        @else {
            .#{$prefix}-#{$k} {
                #{$property}: $v;
            }
        }
    }
}