@mixin btn($bg-color: #e2e2e2) {
    text-decoration: none;
    display: inline-block;
    border: 0;
    padding: 0.625rem 0.875rem;
    border-radius: $yma-border-radius * 2;
    background-color: $bg-color;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn {
    @include btn;
}

@each $k, $v in $yma-colors {
    .btn-#{$k} {
        @include btn($v);

        &:hover {
            background-color: lighten($v, 5);
        }
    }

    @if ($v !=black and $v !=white) {
        @for $i from 1 through 6 {
            .btn-l-#{$k}-#{$i} {
                @include btn(mix(white, $v, $i * 10%));

                &:hover {
                    background-color: lighten($v, 25%);
                }
            }
        }

        @for $i from 1 through 6 {
            .btn-d-#{$k}-#{$i} {
                @include btn(mix(black, $v, $i * 10%));

                &:hover {
                    background-color: darken($v, 25%);
                }
            }
        }
    }

    .btn-otl-#{$k} {
        @include btn(#fff);
        border: $yma-border solid $v;

        &:hover {
            background-color: $v;
        }
    }
}
