@use 'sass:math';

.card {
    display: block;
    padding: $base-padding;
    border: $base-border solid #ddd;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius, 2);

    .card-t {
        font-size: $base-font-size;
        padding-bottom: $base-padding;
        font-weight: bold;
    }

    .card-b {
        font-size: $base-font-size;
    }

    a {
        text-decoration: underline;
    }
}