@use "sass:math";

.card {
    display: block;
    padding: $yma-padding;
    border: $yma-border solid #ddd;
    box-shadow: $yma-box-shadow;
    border-radius: math.div($yma-border-radius, 2);

    .card-t {
        font-size: $yma-font-size;
        padding-bottom: $yma-padding;
        font-weight: bold;
    }

    .card-b {
        font-size: $yma-font-size;
    }

    a {
        text-decoration: underline;
    }
}
