%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav {
    @extend %flex-layout;
    padding: $yma-padding $yma-padding * 2;

    .cnn {
        @extend %flex-layout;
    }
}

@each $k, $v in $yma-colors {
    .nav-#{$k} {
        @extend .nav;
        background-color: $v;
    }
}
