@use "sass:math";

@mixin badge($bg-color: map-get($yma-colors, "white")) {
    border-radius: $yma-border-radius * 4;
    background-color: $bg-color;
    padding: math.div($yma-padding, 2) math.div($yma-padding, 1);
    font-size: $yma-font-size-sm;
    font-weight: normal;
}

.badge {
    @include badge;
}

@each $k, $v in $yma-colors {
    .badge-#{$k} {
        @include badge($v);
    }

    @if (is-not-mono($v, $yma-colors)) {
        @for $i from 1 through 6 {
            .badge-l-#{$k}-#{$i} {
                @include badge(mix(white, $v, $i * 10%));
            }
        }

        @for $i from 1 through 6 {
            .badge-d-#{$k}-#{$i} {
                @include badge(mix(black, $v, $i * 10%));
            }
        }
    }
}
