.ff-c {
  font-family: $yma-font-charter;
  font-weight: $yma-font-weight;
}

.ff-m {
  font-family: $yma-font-mono;
  font-weight: $yma-font-weight;
}

.ff-s {
  font-family: $yma-font-system;
  font-weight: $yma-font-weight;
}
